# SPDX-FileCopyrightText: 2026 Henrique Freire <hfreire10@hotmail.com>

# SPDX-License-Identifier: MIT

menu "Hub"

config SERVER_SECRET
    string "Server API key"
    help
      Secret API key for HTTP POST on server.

config SERVER_URL
    string "Server URL"
    help
      Server path (macros/s/<script_id>/exec for Google Apps Script).

config SERVER_HOST
    string "Server domain"
    default "script.google.com"
    help
      Server domain.

endmenu

source "Kconfig.zephyr"
